*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--content-color);
  background-color: var(--color-background);
  box-shadow: 0 0 0 var(--bg-border) var(--color-background) inset;
  font-family: var(--font-mono);
  font-size: 18px;
  line-height: 1.5;
}

::selection {
  background-color: var(--accent-secondary);
  color: var(--color-white);
}

.emoji {
  font-family: initial;
}

.theme-container {
  display: flex;
  min-height: 96.5vh;
  flex-direction: column;
  background-color: var(--content-background);
  margin: var(--bg-border);
  border-radius: 4px;
  transition: background-color 0.3s cubic-bezier(0.85, 0, 0.15, 1);
}
.-isolate {
  isolation: isolate;
}
.hidden-visually {
  pointer-events: none;
  position: fixed;
  opacity: 0;
  top: -10vh;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: var(--color-dark);
}

main {
  max-width: 45em;
  width: 95%;
  margin: 5vh auto;
  transition: opacity 0.6s;
  flex: 1;
  padding-left: 3rem;
}
p {
  margin: 0.25rem 0;
}
main > p,
article > p {
  margin-top: 1.85rem;
}

/* Content links */

main a,
footer p a {
  position: relative;
  overflow: hidden;
  display: initial;
  font-style: italic;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: auto;
  vertical-align: bottom;
  z-index: 2;

  border-bottom: 3px solid var(--accent-primary);
  text-decoration: none;
  box-shadow: inset 0 -5px 0 var(--accent-primary);
  /* color: #000; */
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}
main a:focus,
main a:hover,
footer p a:hover,
footer p a:focus {
  font-weight: 600;
  background-color: var(--accent-primary);
}

img {
  height: auto;
}

hr {
  height: 10px;
  isolation: isolate;
}
hr,
.foxy-box {
  border: 2px solid rgb(17, 17, 17);
  border-radius: 14px;
  box-shadow: 5px 5px 0 -1px var(--accent-primary);
}

h1 {
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
}
h2 {
  margin: 2.5rem 0 1.5rem;
  font-size: 1.45rem;
}
blockquote {
  position: relative;
  font-style: italic;
  color: #555;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1), 7px 7px 0 0 #004eff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 10rem;
  font-size: 1.7rem;
  padding: 2rem;
  margin: 2rem 1rem 2.5rem;
  background-color: #fbfbfb;
}

blockquote p {
  margin: 0;
}

blockquote p:last-child {
  font-size: 0.7em;
  align-self: flex-end;
}

code {
  padding: 0.125rem 0.25rem;
  background-color: var(--color-light);
  color: #c7254e;
  font-size: 90%;
  border-radius: 0.25rem;
  user-select: all;
}

.saber-highlight {
  position: relative;
}
pre[class*='language-'] {
  border-radius: 5px;
  background-color: #223;
}

@keyframes fuzzy {
  0% {
    filter: url('#turbulence-1');
  }
  25% {
    filter: url('#turbulence-2');
  }
  50% {
    filter: url('#turbulence-3');
  }
  75% {
    filter: url('#turbulence-4');
  }
  100% {
    filter: url('#turbulence-5');
  }
}

.fuzzy-interact:hover {
  cursor: pointer;
  animation: fuzzy 0.6s linear infinite alternate;
}
.fuzzy-filters {
  position: fixed;
  pointer-events: none;
}

@media screen and (max-width: 70rem) {
  body {
    padding: 0;
  }
  main {
    min-height: 60vh;
    transform: translateY(-1.5em);
    padding: 1rem;
    font-size: 1rem;
  }
  main p {
    font-size: 1em;
  }
  img {
    height: auto;
    color: #c00;
  }
  h1 {
    line-height: 1;
    font-size: 2rem;
  }
  blockquote {
    font-size: 1.3rem;
    margin-left: 0;
    margin-right: 0;
  }
}
