:root {
  --accent-primary: #a8ebcb;
  --accent-secondary: #a29bfe;
  --accent-light: #f7f2fa;
  --accent-dark: hsl(226deg, 100%, 50%);
  --color-dark: #223;
  --color-dark2: #222;
  --color-dark3: #111;
  --color-light: #f7f2fa;
  --gradient: linear-gradient(90deg, rgba(97, 230, 149, 1) 0%, rgba(198, 255, 84, 1) 100%);

  /* Active theme */
  --color: var(--color-dark2);
  --color-contrast: var(--color-light);
  --bg: var(--accent-light);
  --bg-contrast: var(--color-dark);

  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-secondary: 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif', 'Times', 'Source Serif Pro',
    serif;
  --font-mono: 'SFMono-Regular', Menlo, Consolas, 'Liberation Mono', Courier, monospace;
}

:root[data-theme='dark'] {
  --accent-primary: var(--accent-dark);
  --color: var(--color-light);
  --color-contrast: var(--color-light);
  --bg: var(--color-dark);
  --bg-contrast: var(--accent-primary);
  --gradient: linear-gradient(90deg, #0ec1f6, #8823de);
}
