---
navOrder:
  - pages/index
  - pages/about
  - thoughts/index
  - pages/contact
---
<aside class="nav__wrapper">
  <ul class="nav">
  {% for nav in collections.nav | navSort(navOrder) %}
    <li class="nav__item{% if nav.url === page.url %} nav__item--active{% endif %}">
      <a href="{{ nav.url | url }}">
        {{ nav.data.navTitle }}
      </a>
    </li>
  {% endfor %}
  </ul>
</aside>
