.navbar {
  position: fixed;
  display: flex;
  z-index: 4;
  top: 0;
  left: var(--bg-border);
  right: var(--bg-border);
  height: var(--navbar-height);
}
.content {
  margin: 0 auto;
}
.content p.demo {
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.content img {
  max-width: 100%;
}
.content + .content {
  padding-top: 0;
}
p a code {
  font-weight: 400;
  color: var(--accent-color);
}
kbd {
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}
ul,
ol {
  padding-left: 1.2em;
}
strong {
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
}
/* TODO: Swap this with vertical rhythm */
.content > h1,
.content > h2,
.content > h3,
.content > h4,
.content > h5,
.content > h6,
article header h1,
article header h2,
article header h3,
article header h4,
article header h5,
article header h6 {
  margin-top: calc(0.5rem - var(--navbar-height));
  padding-top: calc(var(--navbar-height) + 1rem);
  margin-bottom: 0;
}
/* TODO: Swap this with vertical rhythm */
.content > h1:first-child,
.content > h2:first-child,
.content > h3:first-child,
.content > h4:first-child,
.content > h5:first-child,
.content > h6:first-child,
article header h1:first-child,
article header h2:first-child,
article header h3:first-child,
article header h4:first-child,
article header h5:first-child,
article header h6:first-child {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* TODO: Swap this with vertical rhythm */
.content > h1:first-child + p,
.content > h2:first-child + p,
.content > h3:first-child + p,
.content > h4:first-child + p,
.content > h5:first-child + p,
.content > h6:first-child + p,
article header h1:first-child + p,
article header h2:first-child + p,
article header h3:first-child + p,
article header h4:first-child + p,
article header h5:first-child + p,
article header h6:first-child + p,
.content > h1:first-child + pre,
.content > h2:first-child + pre,
.content > h3:first-child + pre,
.content > h4:first-child + pre,
.content > h5:first-child + pre,
.content > h6:first-child + pre,
article header h1:first-child + pre,
article header h2:first-child + pre,
article header h3:first-child + pre,
article header h4:first-child + pre,
article header h5:first-child + pre,
article header h6:first-child + pre,
.content > h1:first-child + .custom-block,
.content > h2:first-child + .custom-block,
.content > h3:first-child + .custom-block,
.content > h4:first-child + .custom-block,
.content > h5:first-child + .custom-block,
.content > h6:first-child + .custom-block,
article header h1:first-child + .custom-block,
article header h2:first-child + .custom-block,
article header h3:first-child + .custom-block,
article header h4:first-child + .custom-block,
article header h5:first-child + .custom-block,
article header h6:first-child + .custom-block {
  margin-top: 2rem;
}
h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  opacity: 1;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
}
h3 {
  font-size: 1.35rem;
}
a.header-anchor {
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;
}
a.header-anchor:hover {
  text-decoration: none;
}
code,
kbd {
  font-family: var(--font-mono);
}
p,
ul,
ol {
  line-height: 1.7;
}
hr {
  border: 0;
  border-top: 1px solid var(--border-color);
}
table {
  border-collapse: collapse;
  margin: 1rem 0;
}
tr {
  border-top: 1px solid #dfe2e5;
}
tr:nth-child(2n) {
  background-color: #f6f8fa;
}
th,
td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.theme-container.sidebar-open .sidebar-mask {
  display: block;
}
.theme-container.no-navbar .content h1,
.theme-container.no-navbar .content h2,
.theme-container.no-navbar .content h3,
.theme-container.no-navbar .content h4,
.theme-container.no-navbar .content h5,
.theme-container.no-navbar .content h6 {
  margin-top: 1.5rem;
  padding-top: 0;
}
@media (min-width: 35rem) {
  .theme-container.no-sidebar .sidebar {
    display: none;
  }
  main article > *:first-child:not(.blog__menu-list),
  main .content > *:first-child:not(.blog__menu-list) {
    margin-top: var(--navbar-height);
  }
}
@media (max-width: 35rem) {
  h1 {
    font-size: 1.9rem;
  }
  .content pre,
  .content pre[class*="language-"] {
    background-color: var(--bg-dark);
    margin: 0.85rem -1.5rem;
    border-radius: 0;
  }
}
