<section class="social">
  <p>Social links</p>
  <ul class="social__list">
    <li class="social__icon" v-for="link in links">
      <a class="social__link fuzzy-interact"
        :href="link.link"
        :title="link.alt"
        v-html="link.icon"
        :rel="link.rel"
        :type="link.type"></a>
    </li>
  </ul>

  <svg class="fuzzy-filters">
    <filter id="turbulence-1">
      <feTurbulence type="fractalNoise" baseFrequency="0.01" numOctaves="3" />
      <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="5" />
    </filter>

    <filter id="turbulence-2">
      <feTurbulence type="fractalNoise" baseFrequency="0.015" numOctaves="3" />
      <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="7" />
    </filter>

    <filter id="turbulence-3">
      <feTurbulence type="fractalNoise" baseFrequency="0.02" numOctaves="3" />
      <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="5" />
    </filter>

    <filter id="turbulence-4">
      <feTurbulence type="fractalNoise" baseFrequency="0.025" numOctaves="3" />
      <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="4" />
    </filter>

    <filter id="turbulence-5">
      <feTurbulence type="fractalNoise" baseFrequency="0.03" numOctaves="3" />
      <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="3" />
    </filter>
  </svg>
</section>
