---
layout: base
---
{% if pageTitle %}
<header class="page__header">
  <p class="page__title">{{ pageTitle | safe }}</p>

  {% if subtitle %}
    <p class="page__subtitle">{{ pageSubtitle | safe }}</p>
  {% endif %}
</header>
{% endif %}

<div class="page__content markdown">
  {{ content | safe }}
</div>
