---
layout: base
permalinks: thoughts/index.html
meta:
  - name: description
    content: My thoughts and musings
tags: nav
navTitle: thoughts
navOrder: 3
---

# thoughts

Here you can read about my questionable opinions on
anything dev-related or just nice tips/hacks I enjoy having in my utility belt.

<hr>
