.blog__menu-link {
    text-transform: uppercase;
}

.blog__title-divider {
    height: 3px;
    background-image: linear-gradient(90deg, #0ec1f6, #8823de);
}

@media screen and (min-width: 35em) {
    footer {
        padding-right: 3em;
    }
}
