.blog__menu-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0;
}

.blog__menu-item {
    flex-basis: 48%;
    margin: 6px;
    border: 1px dashed transparent;
}

.blog__menu-item:hover {
    border-color: inherit;
}

.blog__menu-item::before {
    content: none;
}

.blog__menu-link {
    display: block;
    padding: 1em;
    text-decoration: none;
}

.blog__menu-link:hover {
    color: inherit;
}

.blog__menu-date {
    font-size: 0.7em;
}