body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--content-color);
    background-color: var(--bg-light);
    box-shadow: 0 0 0 var(--bg-border) var(--bg-dark) inset;
    font-family: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Oxygen,
               Ubuntu,
               Cantarell,
               "Open Sans",
               "Helvetica Neue",
               sans-serif;
}

a {
    display: inline-block;
    color: var(--link-color);
    text-decoration: none;
}

main {
    max-width: 45em;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    transition: opacity 0.6s;
    flex: 1;
}

main p {
    font-size: 1.4em;
}
/* Content links */
main a,
footer p a {
    display: initial;
    border-bottom: 3px solid var(--link-border-color);
    font-weight: 500;
}
@supports (text-decoration-skip: ink) {
    main a,
    footer p a {
        border-bottom: none;
        text-decoration: underline;
        text-decoration-skip: ink;
    }
}
main a:hover,
footer p a:hover {
    color: var(--link-color__hover);
}

main ul {
    padding-left: 0.5em;
}
li {
    margin-right: 1em;
    list-style: none;
}
main li::before {
    content: '∘ ';
}

h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 1.0;
    font-size: 3.4em;
}
h2 {
    font-size: 40px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}
h1, h2, h3, h4 {
    letter-spacing: -0.05555556em;
    color: var(--heading-color);
}
p, ul, hr, form, h1, h2 {
    margin-bottom: 1.5rem;
}
img {
    height:auto;
}

@media screen and (max-width: 35em) {
    body {
        padding: 0;
    }
    main {
        width: auto;
        min-height: 60vh;
        transform: translateY(-4em);
    }
    img {
        height: auto;
        color: #c00;
    }
    h1 {
        line-height: 1.0;
        font-size: 2rem;
    }
}
