@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('variables.css');
@import url('social.css');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--content-color);
    background-color: var(--bg-light);
    box-shadow: 0 0 0 var(--bg-border) var(--bg-dark) inset;
    font-family: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Oxygen,
               Ubuntu,
               Cantarell,
               "Open Sans",
               "Helvetica Neue",
               sans-serif;
}

a {
    display: inline-block;
    color: var(--link-color);
    text-decoration: none;
}
    a:hover {
        color: var(--link-color__hover);
    }

main {
    max-width: 45em;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    transition: opacity 0.6s;
    flex: 1;
}
li {
    margin-right: 1em;
    list-style: none;
}
h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 1.0;
    font-size: 3.4em;
}
h2 {
    font-size: 40px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}
h1, h2, h3, h4 {
    letter-spacing: -0.05555556em;
    color: var(--heading-color);
}
p, ul, hr, form, h1, h2 {
    margin-bottom: 1.5rem;
}
img {
    height:auto;
}

footer p {
    text-align: right;
    padding-right: 1em;
}

@media screen and (min-width: 35em) {
    footer {
        padding-right: 3em;
    }
}

@media screen and (max-width: 35em) {
    body {
        padding: 0;
    }
    main {
        width: auto;
        min-height: 60vh;
    }
    img {
        height: auto;
        color: #c00;
    }
    h1 {
        line-height: 1.0;
        font-size: 2rem;
    }
}
