.menu {
	position: fixed;
	width: 300px;
	top: 3.5em;
	left: 0;
	z-index: 5;
	transform: translateX(-150px);
	transition: transform 0.6s;
}
.menu::after {
	content: '';
	width: 140vw;
	height: 110vh;
	position: absolute;
	top: -5em;
	left: 0;
	transition: ease-in background-color .1s;
	z-index: -1;
	pointer-events: none;
}
.menu.menu--open {
	transform: translateX(0);
}

.menu.menu--open + main {
	opacity: 0.6;
	pointer-events: none;
}

.menu__inner {
	width: calc(100% + 25px);
	padding: 0 140px 2em 0;
	overflow-y: auto;
	height: 80vh;
	position: relative;
	z-index: 5;
}

.menu__list {
	list-style: none;
	padding-left: 50px;
	margin: 0;
	width: 180px;
}

.menu__item {
	margin-bottom: 2em;
	transform: translate3d(-150px, 0, 0);
	transition: transform 0.6s;
	font-weight: 600;
	cursor: pointer;
}
.menu__item::before {
    content: ':';
	position: relative;
	display: inline-block;
	top: -1px;
    color: var(--link-border-color);
	font-weight: 700;
    height: 11px;
    width: 4px;
}

.menu__link {
	position: relative;
	outline: none;
	text-transform: uppercase;
	color: var(--content-color);
	cursor: pointer;
	transition: color 0.1s ease-in-out, opacity 0.1s;
	opacity: 0.6;
}

.menu__item:hover .menu__link {
	opacity: 1;
}
.menu__item:hover::before {
	color: var(--link-bullet-gray__hover);
}
.menu__item[aria-current="page"] .menu__link {
	opacity: 1;
}
.menu__item[aria-current="page"]::before {
    color: var(--highlight-color);
}

.menu.menu--anim li {
	transform: translateX(0);
}

.menu__item:first-child {
	transition-delay: 0.2s;
}
.menu__item:nth-child(2) {
	transition-delay: 0.15s;
}
.menu__item:nth-child(3) {
	transition-delay: 0.1s;
}
.menu__item:nth-child(4) {
	transition-delay: 0.05s;
}

.menu__item:first-child::before {
	color: #A6D865;
}
.menu__item:nth-child(2)::before {
	color: #DBD253;
}
.menu__item:nth-child(3)::before {
	color: #F484D4;
}
.menu__item:nth-child(4)::before {
	color: #EF835F;
}
.menu__item:nth-child(5)::before {
	color: #8F6EF4;
}

.menu__handle {
	background: transparent;
	border: none;
	width: 30px;
	height: 24px;
	padding: 0;
	outline: none;
	position: absolute;
	top: 3px;
	right: 70px;
	z-index: 9;
	cursor: pointer;
}

.menu__handle::before,
.menu__handle::after,
.menu__handle span {
	background-color: var(--menu-color);
}

.menu__handle::before,
.menu__handle::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	transform-origin: 50% 50%;
	transition: transform 0.25s;
}

.menu__handle span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	text-indent: 200%;
	color: transparent;
}

.menu__handle::before {
	transform: translate3d(0, -10px, 0);
}

.menu__handle::after {
	transform: translate3d(0, 10px, 0);
}

.menu--open .menu__handle span {
	opacity: 0;
}

.menu--open .menu__handle::before {
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu--open .menu__handle::after {
	transform: rotate3d(0, 0, 1, -45deg);
}
/* Menu background overlay */
.menu--open::after {
	background-color: rgba(255, 255, 255, 0.9);
	pointer-events: inherit;
}

.menu:not(.menu--open) {
	pointer-events: none;
}
.menu__handle {
	pointer-events: all;
}

.morph-shape {
	position: absolute;
	width: 240px;
	height: 80vh;
	top: 0;
	right: 0;
}

.morph-shape path {
	stroke: var(--menu-color);
	stroke-width: 5px;
}

@media screen and (max-width: 45em) {
	.menu {
		top: 2em;
		transform: translate3d(-160px, 0, 0);
	}
	.menu__handle span::before {
		content: '';
		background-color: rgba(255, 255, 255, 0.8);
		position: absolute;
		top: -20px;
		left: -7px;
		right: -7px;
		bottom: -20px;
		z-index: -1;
	}
}
