:root {
    --bg-dark: #223;
    --bg-light: #fff;
    --bg-border: 0.5em;
    --content-color: #222;
    --heading-color: #333;
    --highlight-color: #e16036;
    --link-color: #333;
    --link-color__hover: tomato;
    --link-border-color: #444;
    --logo-font-size: 64px;
    --breakpoint: 35em;
    --menu-color: #5f656f;
}
