@require './config'

@media (max-width: 35rem)
  h1
    font-size 1.9rem
  .content
    pre, pre[class*="language-"]
      background-color: var(--bg-dark)
      margin 0.85rem -1.5rem
      border-radius 0
