---
interface Props {
  date: Date
}

const { date } = Astro.props
---

<div>
  {
    date.toLocaleDateString('en-us', {
      year: 'numeric',
      month: 'short',
      day: 'numeric',
    })
  }
</div>
<time class="sr-only" datetime={date.toISOString()} aria-label="Published at date"></time>
