---
import HeaderLink from './HeaderLink.astro'
---

<header class="grid-background" id="header">
  <nav class="hide-print">
    <h2><a href="/">the c<span>รถ</span>ttage</a></h2>
    <div class="links">
      <HeaderLink href="/">~</HeaderLink> /
      <HeaderLink href="/me/">me</HeaderLink> /
      <HeaderLink href="/thoughts/">thoughts</HeaderLink> /
      <HeaderLink href="/contact/">contact</HeaderLink>
    </div>
  </nav>
</header>

<script>
// const sound = new URL('../assets/sounds/boop-3.mp3', import.meta.url)
const sound = new URL('../assets/sounds/mouse-click-2.mp3', import.meta.url)
const audio = new Audio(sound.href)
const headerLinks = document.querySelectorAll('#header a')

headerLinks.forEach((link) => {
  link.addEventListener('click', (e) => {
    e.preventDefault();
    const href = link.getAttribute('href') ?? ''
    audio.play();
    
    setTimeout(() => {
      window.location.href = href;
    }, 250);
  })
})
</script>

<style>
  header {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    padding: 0.5em 2em 1em;
    /* Hide overlap with the grid background and body outline */
    margin: 0 -1px;
    z-index: 2;

    @media (max-width: 720px) {
      font-size: 0.8em;  
    }
  }
  h2 {
    font-size: 1em;
  }

  header h2 span {
    color: var(--link-color);
    transition: color 0.3s ease-out;
  }
  h2 a:hover span {
    color: var(--text-color);
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
    color: var(--text-color);
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 720px) {
    header {
      padding: 0.2em 0;
    }

    .links {
      margin: 0 auto;
    }

    h2 {
      display: none;
    }
  }
</style>
