<div>
  <span class="theme-picker-title flex-1 basis-full text-xs mt-4 block">switch colours (click pls)</span>
  <div data-theme-picker class="flex gap-4">
    <button class="w-4 h-4" style="--theme-bg: var(--theme-light)" data-theme="light"></button>
    <button class="w-4 h-4" style="--theme-bg: var(--theme-dark)" data-theme="dark"></button>
    <button class="w-4 h-4" style="--theme-bg: var(--theme-dark-2)" data-theme="dark-2"></button>
    <button class="w-4 h-4" style="--theme-bg: var(--theme-light-2)" data-theme="light-2"></button>
    <button class="w-4 h-4" style="--theme-bg: var(--theme-dark-3)" data-theme="dark-3"></button>
  </div>
</div>

<script>
  const picker = document.querySelector('[data-theme-picker]')
  const themeBtn = picker?.querySelectorAll('button') || []
  let prevCursorColor: string

  const sound = new URL('../assets/sounds/boop-5.mp3', import.meta.url)
  const audio = new Audio(sound.href)

  themeBtn.forEach((btn) => {
    btn.addEventListener('click', () => {
      const theme = btn.dataset.theme || ''
      document.documentElement.setAttribute('data-theme', theme)
      localStorage.setItem('_cottageTheme', theme)
      ding()
    })

    btn.addEventListener('mouseenter', (event) => {
      if (event.target === null || !(event.target instanceof HTMLElement)) return

      prevCursorColor = getComputedStyle(document.body).getPropertyValue('--cursor-color')
      const btnTheme = getComputedStyle(event.target).getPropertyValue('--theme-bg')
      document.documentElement.style.setProperty('--cursor-color', btnTheme)
    })

    btn.addEventListener('mouseleave', () => {
      document.documentElement.style.setProperty('--cursor-color', prevCursorColor)
    })

    btn.addEventListener('click', (event) => {
      if (event.target === null || !(event.target instanceof HTMLElement)) return
      const btnTheme = (prevCursorColor = getComputedStyle(event.target).getPropertyValue('--theme-bg'))
      document.documentElement.style.setProperty('--cursor-color', btnTheme)
    })
  })

  function ding() {
    audio.play()
  }
</script>

<style>
  .theme-picker-title {
    display: block;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    font-style: monospace;
  }

  button {
    border: 4px transparent;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--theme-bg);
    transition:
      box-shadow 0.2s ease-out,
      border-radius 0.2s ease-out;

    &:hover,
    &:focus {
      cursor: pointer;
      box-shadow: 0 0 0 0.2rem var(--theme-bg);
      border-radius: 20% 40px;
      outline: 5px solid var(--theme-bg);
    }
  }
</style>
