<div>
  <span class="theme-picker-title flex-1 basis-full text-xs mt-4 block">click us pls</span>
  <div data-theme-picker class="flex gap-4">
    <button class="w-4 h-4" style="--theme-bg: #a8ebcb" data-theme="light"></button>
    <button class="w-4 h-4" style="--theme-bg: #6c3e41" data-theme="dark"></button>
    <button class="w-4 h-4" style="--theme-bg: #3363ff" data-theme="dark-2"></button>
    <button class="w-4 h-4" style="--theme-bg: #C4CFCD" data-theme="light-2"></button>
    <button class="w-4 h-4" style="--theme-bg: #ce7bce" data-theme="dark-3"></button>
  </div>
</div>

<script>
  import sound from '../assets/sounds/ding.wav'

  const picker = document.querySelector('[data-theme-picker]')
  const themeBtn = picker?.querySelectorAll('button') || []

  themeBtn.forEach((btn) => {
    btn.addEventListener('click', () => {
      const theme = btn.dataset.theme || ''
      document.documentElement.setAttribute('data-theme', theme)
      localStorage.setItem('_cottageTheme', theme)
      ding()
    })
  })

  function ding() {
    const snd = new Audio(sound)
    snd.play()
  }
</script>

<style>
  .theme-picker-title {
    display: block;
    margin-top: 2rem;
    margin-bottom: -0.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    font-style: monospace;
  }

  button {
    border: 0;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    height: 0.5rem;
    width: 0.5rem;
    background-color: var(--theme-bg);
    transition:
      box-shadow 0.2s ease-out,
      border-radius 0.2s ease-out;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0 0.2rem var(--theme-bg);
      border-radius: 20% 40px;
    }
  }
</style>
