<nav class="blog__menu" role="navigation">
    <ul class="blog__menu-list">
        {{# each collections.posts }}
        <li class="blog__menu-item {{#is this.path @root.path }}active{{/is}}">
            <a href="/{{ this.path }}" class="blog__menu-link">
                <div class="blog__menu-title">{{ this.title }}</div>
                <div class="blog__menu-date"><em>{{ date this.postDate }} {{ this.postDate }}</em></div>
            </a>
        </li>
        {{/ each }}
    </ul>
</nav>
