<footer>
    {{> social }}
    <p>Proudly generated with <a href="{{ site.generatorurl }}" title="Check out Metalsmith!">{{ site.generatorname }}</a>.</p>
</footer>

<script src="/assets/js/classie.js"></script>
<script src="/assets/js/snap.svg.min.js"></script>
<script src="/assets/js/menu.js"></script>
