<footer>
    {{> social }}
    <p>Proudly generated with <a href="{{ site.generatorurl }}" title="Check out Metalsmith!">{{ site.generatorname }}</a>.</p>
</footer>

<link href="/assets/css/styles.min.css" rel="stylesheet">
<script src="/assets/js/script.min.js"></script>
