<header>
    <a href="/" class="logo">
        <div class="logo__letter logo__letter-a">a</div>
        <div class="logo__letter logo__letter-j">J</div>
        <div class="logo__letter logo__letter-v">v</div>

        <!-- TODO: Swap CSS based logo for SVG so we wouldn't have to
          load in Josefin Slab font just to display it! -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 783.000000 742.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,742.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                <path d="M1615 6451 c-148 -24 -318 -96 -474 -199 -218 -145 -382 -404 -438 -691 -22 -115 -22 -320 0 -432 54 -277 175 -466 413 -650 221 -170 469 -242 758 -219 185 15 401 94 557 203 74 52 214 194 254 257 15 23 28 40 30 38 3 -2 -2 -53 -10 -114 -8 -60 -15 -171 -15 -246 l0 -137 35 -7 c40 -7 591 -2 599 7 10 9 19 226 10 231 -5 3 -105 11 -221 18 l-213 13 0 922 c0 832 -2 923 -16 929 -9 3 -46 6 -84 6 l-68 0 -6 -127 c-4 -71 -10 -170 -14 -222 l-7 -95 -56 75 c-79 104 -159 180 -271 255 -182 122 -368 183 -583 189 -71 2 -152 0 -180 -4z m311 -252 c430 -77 754 -431 754 -823 0 -93 -24 -246 -49 -319 -44 -125 -132 -246 -248 -338 -352 -279 -897 -278 -1198 3 -72 67 -190 228 -229 313 -61 131 -81 309 -52 453 58 286 239 522 488 636 61 28 135 49 283 80 42 8 194 6 251 -5z"/>
                <path d="M3076 5748 c-3 -50 -6 -108 -6 -130 l0 -38 378 0 c209 0 420 -3 471 -7 l92 -6 -4 -1706 -3 -1706 -21 -80 c-61 -227 -191 -425 -365 -558 -156 -119 -307 -182 -511 -212 l-38 -6 7 -122 c4 -67 8 -124 11 -126 7 -9 223 40 314 71 249 82 391 177 535 357 163 204 252 442 284 760 11 117 14 2461 3 3164 l-6 437 -567 0 -567 0 -7 -92z"/>
                <path d="M4400 2960 l0 -130 221 -2 220 -3 138 -255 c75 -140 213 -399 306 -575 294 -559 569 -1062 594 -1088 5 -5 60 97 124 225 63 128 195 379 292 558 322 591 441 814 509 947 54 106 74 136 103 154 60 37 126 47 281 41 l142 -5 0 132 0 131 -490 0 -490 0 0 -130 0 -130 155 0 c111 0 155 -3 155 -12 0 -14 -166 -337 -380 -738 -89 -167 -214 -408 -277 -534 -63 -126 -117 -234 -120 -239 -11 -18 -77 102 -331 608 -212 423 -294 570 -418 758 -47 70 -83 131 -80 136 3 4 56 11 118 15 62 4 145 9 185 13 l73 6 0 123 0 124 -515 0 -515 0 0 -130z"/>
            </g>
        </svg> -->
    </a>
</header>
