{{> doc-head }}
</head>
<body>
    {{> header }}

    {{> nav }}

    <style>
        .code-area {
            font-family: monospace;
            font-size: 2em;
        }
        .code-area > span {
            display: block;
        }

        @media screen and (max-width: 45em) {
            .code-area {
                font-size: 5vw;
                min-width: auto;
                width: 95%;
                margin: auto;
                padding: 5px;
                padding-left: 10px;
                line-height: 6.5vw;
            }
        }
    </style>
    <main>
        {{{ contents }}}

        <a href="javascript:history.back()">Navigate back</a> or hop to the <a href="/">homepage</a>.
    </main>

    {{> footer }}
</body>
</html>
