{{> doc-head }}
<link href="/assets/css/blog.css" rel="stylesheet">
</head>
<body class="wip-page">
    {{> header }}

    {{> nav }}

    <main>
        <h1>{{ title }}</h1>
        <h3>{{ description }}</h3>

        {{{ contents }}}

        {{> blog-nav }}
    </main>

    {{> footer }}
</body>
</html>
