{{> doc-head }}
<link href="/assets/css/blog.css" rel="stylesheet">
<body>
    {{> header }}

    {{> nav }}

    <main>

        <h1>{{ title }}</h1>
        <p>{{ description }}</p>

        <div class="blog__title-divider">
            <div class="blog__title-block blue"></div>
            <div class="blog__title-block green"></div>
            <div class="blog__title-block purple"></div>
        </div>

        {{{ contents }}}
    </main>

    {{> footer }}
</body>
</html>
