.site-footer {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  padding-right: 3em;
}

.site-footer p {
  padding-right: 0;
  text-align: right;
  margin: 0;
}
.edit-link {
  text-align: right;
  font-size: .9em;
}

@media screen and (max-width: 35em) {
    .site-footer {
        padding-right: 1.5rem;
        font-size: 0.8rem;
    }
}
