*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.theme-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-content);
  box-shadow: 0 0 0 var(--bg-border) var(--color-background-secondary) inset;
  background-color: var(--color-background-secondary);
  font-family: var(--font-mono);
  font-size: 1.125rem;
}

.main {
  transition: opacity 0.6s;
  flex: 1;
  margin: var(--bg-border);
  background-color: var(--color-white);
  --notchSize: 20px;
  clip-path: polygon(
    0% var(--notchSize),
    var(--notchSize) 0%,
    calc(100% - var(--notchSize)) 0%,
    100% var(--notchSize),
    100% calc(100% - var(--notchSize)),
    calc(100% - var(--notchSize)) 100%,
    var(--notchSize) 100%,
    0% calc(100% - var(--notchSize))
  );
}

.main__content {
  width: 100%;
  max-width: 50rem;
  margin: 5vh auto;
  padding: 0 2rem;
}

.nav__wrapper {
  position: fixed;
  top: 0;
  z-index: 4;
  margin: 4rem 5vw;
  height: 80vh;
  border-right: 2px solid var(--color-background-secondary);
}
.nav {
  display: flex;
  flex-direction: column;
  padding: 2rem 4vw 2rem 0;
  list-style: none;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: underline;
  color: var(--color-content);
  font-weight: 600;
}
a:visited {
  font-weight: 400;
}
a:hover {
  text-decoration: none;
  color: var(--color-accent-strong);
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-white);
}

img {
  height: auto;
  max-width: 100%;
  color: #c00;
}

hr {
  height: 3px;
  border: none;
  background-image: var(--default-divider);
}
kbd {
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}
ul,
ol {
  padding-left: 1.2em;
}

h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0;
}
h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor {
  opacity: 1;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
}
h3 {
  font-size: 1.35rem;
}
.header-anchor {
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;
}
.header-anchor:hover {
  text-decoration: none;
}
code,
kbd {
  font-family: var(--font-mono);
}
p,
ul,
ol {
  line-height: 1.7;
}

blockquote {
  position: relative;
  font-style: italic;
  color: #555;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1), 7px 7px 0 0 #004EFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 10rem;
  font-size: 1.7rem;
  padding: 2rem;
  margin: 2rem 1rem 2.5rem;
  background-color: #fbfbfb;
}
blockquote p {
  margin: 0
}
blockquote p:last-child {
  font-size: .7rem;
  align-self: flex-end;
}

.a11y__skip-link {
  position: absolute;
  top: -100vh;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.a11y__skip-link:focus {
  left: 50%;
  top: 0;
  pointer-events: inherit;
  visibility: visible;
  opacity: 1;
  font-size: 1rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #373a3c;
  color: #fff;
  border-radius: 0 0 .5rem .5rem;
  padding: 1rem 1.5rem;
}

@keyframes fuzzy {
  0% {
    filter: url("#turbulence-1");
  }
  25% {
    filter: url("#turbulence-2");
  }
  50% {
    filter: url("#turbulence-3");
  }
  75% {
    filter: url("#turbulence-4");
  }
  100% {
    filter: url("#turbulence-5");
  }
}

.fuzzy-interact:hover {
  cursor: pointer;
  animation: fuzzy 0.6s linear infinite alternate;
}
.fuzzy-filters {
  position: fixed;
  pointer-events: none;
}

@media screen and (max-width: 70rem) {
  .theme-container {
    padding: 0;
  }
  .main {
    font-size: 1rem;
  }
  .main__content {
    padding: 0 1rem;
  }
  .nav__wrapper {
    position: relative;
    height: auto;
    margin: 0;
  }
  .nav {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.25rem;
    padding-bottom: 0;
  }
  .nav a { color: var(--color-secondary); }
  .main p {
    font-size: 1rem;
  }
  h1 {
    line-height: 1.1;
    font-size: 1.9rem;
  }
  blockquote {
    font-size: 1.3rem;
    margin-left: 0;
    margin-right: 0;
  }
}
