*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.theme-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-content);
  /*background-color: var(--color-background);*/
  box-shadow: 0 0 0 var(--bg-border) var(--color-background) inset;
  font-family: var(--font-mono);
  font-size: 1.125rem;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-white);
}

a {
  display: inline-block;
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
  color: var(--link-color__hover);
}

main {
  max-width: 45rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  transition: opacity 0.6s;
  flex: 1;
}

img {
  height: auto;
  max-width: 100%;
}

hr {
  height: 3px;
  border: none;
  background-image: var(--default-divider);
}

blockquote {
  position: relative;
  font-style: italic;
  color: #555;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1), 7px 7px 0 0 #004EFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 10rem;
  font-size: 1.7rem;
  padding: 2rem;
  margin: 2rem 1rem 2.5rem;
  background-color: #fbfbfb;
}

blockquote p {
  margin: 0
}

blockquote p:last-child {
  font-size: .7rem;
  align-self: flex-end;
}

.a11y__skip-link {
  position: absolute;
  top: -100vh;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.a11y__skip-link:focus {
  left: 50%;
  top: 0;
  pointer-events: inherit;
  visibility: visible;
  opacity: 1;
  font-size: 1rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #373a3c;
  color: #fff;
  border-radius: 0 0 .5rem .5rem;
  padding: 1rem 1.5rem;
}

@keyframes fuzzy {
  0% {
    filter: url("#turbulence-1");
  }
  25% {
    filter: url("#turbulence-2");
  }
  50% {
    filter: url("#turbulence-3");
  }
  75% {
    filter: url("#turbulence-4");
  }
  100% {
    filter: url("#turbulence-5");
  }
}

.fuzzy-interact:hover {
  cursor: pointer;
  animation: fuzzy 0.6s linear infinite alternate;
}
.fuzzy-filters {
  position: fixed;
  pointer-events: none;
}

@media screen and (max-width: 70em) {
  body {
    padding: 0;
  }
  main {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  main p {
    font-size: 1rem;
  }
  img {
    height: auto;
    color: #c00;
  }
  h1 {
    line-height: 1.0;
    font-size: 2rem;
  }
  blockquote {
    font-size: 1.3rem;
    margin-left: 0;
    margin-right: 0;
  }
}
