---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Whitespace matters (CSP hashing) -->
    <script is:inline>const theme = localStorage.getItem('_cottageTheme')
if (theme) document.documentElement.setAttribute('data-theme', theme)

document.addEventListener('astro:after-swap', () => {
  const theme = localStorage.getItem('_cottageTheme')
  if (theme) document.documentElement.setAttribute('data-theme', theme)
})</script>

    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />


    <div id="cursor">
      <div id="cursor-outer"></div>
      <div id="cursor-inner"></div>
    </div>

    <script>
      import AnimatedCursor from 'animated-cursor'

      const themeAccent = getComputedStyle(document.body).getPropertyValue('--cursor-color')
      const ac = AnimatedCursor({
        color: themeAccent,
        trailingSpeed: 0.5,
        cursorInnerStyles: {
          backgroundColor: 'black',
          zIndex: 10,
        },
        cursorOuterStyles: {
          backgroundColor: 'color-mix(in srgb, var(--cursor-color) 70%, transparent)',
          zIndex: 9,
        },
      })
      ac.init()
    </script>

    <script is:inline data-goatcounter="https://kano.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
