---
import type { CollectionEntry } from 'astro:content'
import Base from '../layouts/Base.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { getConicGradient } from '../utils/conic-art'

type Props = CollectionEntry<'thoughts'>

const { title, pubDate, updatedDate, readingTime } = Astro.props.data
const { slug } = Astro.params
---

<Base>
  <article>
    <div class="hero-image" style={`--hero-gradient: ${getConicGradient(slug || '')}`}></div>

    <div class="title">
      <h1>{title}</h1>
      <div class="date">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      {
        readingTime && (
          <div class="reading-time">
            {readingTime} {readingTime === 1 ? 'minute' : 'minutes'} to read
            <hr />
          </div>
        )
      }
    </div>

    <slot />
  </article>
</Base>

<style>
  main {
    width: calc(100% - 2em);
    max-width: 100%;
    margin: 0;
  }
  .hero-image {
    width: 100%;
    background-image: var(--hero-gradient);
    animation: 3s conic infinite;
  }
  .hero-image {
    display: block;
    margin: 0 auto;
    height: 200px;
    box-shadow: var(--box-shadow);
  }
  .title {
    padding-top: 1em 0;
    text-align: center;
  }
  .title h1 {
    margin-bottom: 0.5em;
  }
  .date {
    margin-bottom: 0.5em;
    font-size: 0.8em;
  }
  .last-updated-on {
    font-style: italic;
  }
</style>
